<input type="text" class="form-control" #nome>
<br>
<input type="text" class="form-control" #citta>
<br>
<button type="button" class="btn btn-primary" (click)="addUser(nome.value,citta.value)">
Inserisci Utente in Tabella sotto Tramite Output</button>
