<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-testcomponent></app-testcomponent>
      <app-terzocomponent></app-terzocomponent>
      <h1>{{nome}}</h1>
    
      <button class="btn btn-primary" (click)="getClick()">
        Clicca per cambiare la variabile nome in Paolo
      </button>
    
      <input type="text" class="form-control" (input)="getText($event)">
      <p>{{stampatesto}}</p>
    
      <input type="text" class="form-control" [(ngModel)]="testo2">
      {{testo2}}
    
      <input type="text" class="form-control" #input>
      <button class="btn btn-primary" (click)="gettesto3data(input.value)">prendi valore e stampalo</button>
    
      <!-- <label>nomelabel</label> -->
      <input type="text" class="form-control" [(ngModel)]="nomelabel">
      <p *ngIf ="nomelabel === 'piero'">che nome è {{nomelabel}} è ora True</p>
      <p *ngIf ="nomelabel !== 'piero'">che nome è piero è ora False</p>

      <button class="btn btn-primary" (click)="aggiungiNome()">
        Aggiungi il nome alla lista
      </button>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let utenti of persone">{{utenti}}</li>
       
          </ul>
        </div>
      </div>

      <div class="col-xs-6 col-xs-offset-8">
        <table class="table table-striped">
        <tr>
          <th>Nome</th>
          <th>Città</th>
        </tr>
          <tr *ngFor="let user of users">
            <td> {{ user.nome }}</td>
            <td> {{ user.citta }}</td>
          </tr>
        </table>
      </div>

      <div class="col-xs-6 col-xs-offset-3">
       <div [ngSwitch]="valore">
         <p *ngSwitchCase="1">Il valore è {{valore}}</p>
         <p *ngSwitchCase="2">Il valore è {{valore}}</p>
         <p *ngSwitchCase="3">Il valore è {{valore}}</p>
         <p *ngSwitchDefault>Il valore è diverso da 1,2 o 3</p>
       </div>
      </div>

      <h1 [ngClass]="{active:booleano,noActive: !booleano}">Direttive non *</h1>
      <button class="btn btn-success" (click)="booleano = !booleano">
       clicca per applicare/disapplicare la classe all'oggetto sopra
      </button>
      <h1 [ngStyle]="{backgroundColor:valore === 1000 ? 'purple':'red'}">ngStyle</h1>
    
      <app-form (user)="getUser($event)">
      </app-form>
      <app-table [users2] = "utenti">
      </app-table>
      

      <h1 appBackgroundColor>DIRETTIVA CUSTOM</h1>



    
    
    </div>
    

  </div>
</div>

<router-outlet></router-outlet>
